#!/usr/bin/env sh
DEST=$1
SRC={{galaxify_install_target}}

mkdir -p $DEST/{defaults,meta,vars,files,tasks,templates}
cp $SRC/.gitignore $DEST/.gitignore
cp $SRC/README.md $DEST/README.md
cp $SRC/LICENSE $DEST/LICENSE
cp $SRC/meta-main.yml $DEST/meta/main.yml
cp $SRC/task-main.yml $DEST/tasks/main.yml
cp $SRC/test.yml $DEST/test.yml
