#!/usr/bin/env sh
DEST=$1
SRC="{{ galaxify_target_dir }}"

mkdir -p $DEST/{defaults,meta,vars,files,tasks,templates}
for FILE in .gitignore README.md LICENSE test.yml .travis.yml requirements.txt dcb-os.yml
do
    cp $SRC/$FILE $DEST/$FILE
done

for MAIN in meta tasks
do
    cp $SRC/${MAIN}-main.yml $DEST/$MAIN/main.yml
done
