---
galaxy_info:
  author: {{ galaxify_mitlicense_holder }}
  description: '@TODO name this role'
  company: {{ galaxify_company }}
  license:
    - MIT
  min_ansible_version: 2.0
  platforms:
    - name: Alpine
      versions:
        - all
    - name: Archlinux
      versions:
        - all
    - name: Debian
      versions:
        - bullseye
        - buster
    - name: EL
      versions:
        - 8
    - name: Fedora
      versions:
        - 34
    - name: Ubuntu
      versions:
        - bionic
        - focal
  galaxy_tags:
    - development
  role_name: '@TODO galaxy role name'

dependencies: []
