[![CircleCI](https://circleci.com/gh/username/rolename.svg?style=svg)](https://circleci.com/gh/username/rolename)
username.rolename
=========

A brief description of the username.rolename goes here.

Requirements
------------

See [meta/main.yml](meta/main.yml)

Role Variables
--------------

See [defaults/main.yml](defaults/main.yml)

Dependencies
------------

See [meta/main.yml](meta/main.yml)

Example Playbook
----------------

```yml
- hosts: servers
  roles:
    - username.rolename
```

License
-------

MIT

Author Information
------------------

{{galaxify_mitlicense_holder}} <{{galaxify_mitlicense_holder_email}}>
