{{ galaxify_username }}.rolename
=========

![Build Status](https://github.com/{{ galaxify_username }}/ansible-rolename/actions/workflows/build.yml/badge.svg)

A brief description of the {{ galaxify_username }}.rolename goes here.

Requirements
------------

See [meta/main.yml](meta/main.yml)

Role Variables
--------------

See [defaults/main.yml](defaults/main.yml)

Dependencies
------------

See [meta/main.yml](meta/main.yml)

Example Playbook
----------------

```yml
- hosts: servers
  roles:
    - {{ galaxify_username }}.rolename
```

License
-------

MIT

Author Information
------------------

{{ galaxify_mitlicense_holder }} <{{ galaxify_mitlicense_holder_email }}>
